*{
   
    font-family: 'Cardo', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  
    display: flex;
    background: #2BC0E4;  
    background: -webkit-linear-gradient(to left, #EAECC6, #2BC0E4);
    background: linear-gradient(to left, #EAECC6, #2BC0E4);




 }
.tittle{
    font-size: xx-large;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    position: absolute;
}
.contenedor{
    display:grid;
   

}
.cajaSelEstacion{
   
   display:flex;
   position:relative;
   height: 40px;
   font-size: 30px;
}

.texto{
    text-align: center;
}
.cajaGrafPronostico{
    
    
    display: grid;
    height: 500px;
    width: 100px;
    
    
    

}
.canva{
    margin-left:   100px;
    border:2px solid rgb(29, 119, 135);
    background-color: #2bbfe455;
    height: 400px;
    width: 1120px;

}
.box{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

 } 
.cajaTemp, .velViento, .cajaUV{
    margin-left:   100px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-top: 5%;
    width: 300px;
    height: 350px;
    overflow:visible;

 }
.cajaTemp{
   
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    background-color: rgba(127, 255, 212, 0.416);
    color: aliceblue;
    border: 1px solid rgb(29, 119, 135);
}
.velViento{
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    background-color: rgba(55, 125, 102, 0.511);
    color: aliceblue;
    border: 1px solid rgb(29, 119, 135);
}
.cajaUV{
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    background-color: rgba(20, 48, 39, 0.576);
    color: aliceblue;
    border: 1px solid rgb(29, 119, 135);
}

.cajaGrafEstaciones{
    text-align: center;
    margin-left:   100px;
    border:2px solid rgb(29, 119, 135);
    background-color: #2bbfe455;
    height: 400px;
    width: 1120px;
}